@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.App {
  width: 20%;
  margin: 100px auto;
  box-shadow: 0 0 20px ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  padding: 10px;
  background-image: url("");
}

.App h2{
  margin-top: 10px;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: lightgrey;
}

@media only screen and (max-width:810px){
  .App{
    width: 90%;

  }
}
@media only screen and (max-width:310px){
  .App{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 5px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
